<div class="grid grid-flow-row grid-rows-[15%_1fr] w-[90%] h-72 bg-white/10 backdrop-blur-md border border-white/40 p-4 mt-6 rounded-lg">

    <div class="flex">
        <p class="text-white font-bold sm:text-sm md:text-base lg:text-2xl w-full">7-Day Forecast</p>
    </div>
    <div class="flex flex-row gap-6 flex-wrap flex-shrink justify-center">
       
        <div  class="bg-white/5 backdrop-blur-sm border border-white/40 w-[14%] min-w-[10%] rounded-lg">

        </div>

        <div class="bg-white/5 backdrop-blur-sm border border-white/40 w-[14%] rounded-lg">

        </div>

        <div class="bg-white/5 backdrop-blur-sm border border-white/40 w-[14%] rounded-lg">

        </div>

        <div class="bg-white/5 backdrop-blur-sm border border-white/40 w-[14%] rounded-lg">

        </div>

        <div class="bg-white/5 backdrop-blur-sm border border-white/40 w-[14%] rounded-lg">

        </div>

        <div class="bg-white/5 backdrop-blur-sm border border-white/40 w-[14%] rounded-lg">

        </div >

        <div class="bg-white/5 backdrop-blur-sm border border-white/40 w-[14%] rounded-lg">

        </div>

    </div>


</div>
