<div class="flex flex-row items-center justify-between w-full h-20 bg-white/20 backdrop-blur-md border-b border-white/40 space-x-4">

    <div class="flex flex-row items-center justify-start text-white/100 font-bold text-lg ml-5 text-nowrap mr-5 w-full max-w-md">
        <img src="assets/icon.png" alt="logo" class="size-12">
        <p class="w-full">Weather App</p>
    </div>

    <div class="flex flex-row w-full max-w-md justify-center">
        <input type="text" placeholder=" Search for a City..." class="bg-white/50 text-xs min-w-0 max-w-[13rem] pt-2 pb-2 pl-2 rounded-md mr-2 flex-shrink flex-1">
        <button class="bg-white pr-3 pl-3 pt-2 pb-2 mr-1 rounded-md text-xs font-medium">
           Search 
        </button>
    </div>

</div>
