<div class="grid grid-flow-row grid-rows-[20%_1fr] w-[90%] h-72 bg-white/10 backdrop-blur-md border border-white/40 pb-5 rounded-lg">

    <div class="flex flex-row items-center">
        <svg class="ml-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 10c0 6-9 13-9 13S3 16 3 10a9 9 0 1 1 18 0z"/>
        <circle cx="12" cy="10" r="3"/>
        </svg>
        <p class="ml-2 text-white font-bold sm:text-sm md:text-base lg:text-xl w-full">New York, NY </p>
    </div>
    <div class="grid grid-cols-2">
        <div class="flex flex-row items-center justify-center">
            <div class="flex">
                <svg class="ml-3" width="80px" height="80px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
                stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 13.6493C3 16.6044 5.41766 19 8.4 19L16.5 19C18.9853 19 21 16.9839 21 14.4969C21 12.6503 
                19.8893 10.9449 18.3 10.25C18.1317 7.32251 15.684 5 12.6893 5C10.3514 5 8.34694 6.48637 7.5 8.5C4.8 8.9375 3 11.2001 3 13.6493Z" stroke="#ffffff" stroke-width="2" 
                stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <div class="flex flex-col w-full items-start justify-center ml-2 text-white font-semibold gap-1">
                    <p class="text-[1rem] sm:text-[1.4rem] md:text-[2.4rem] lg:text-5xl">72&deg;F</p>
                    <p class="text-[.4rem] sm:text-[.6rem] md:text-[.8rem] lg:text-base text-wrap">Partly Cloudy</p>
                </div>
            </div>
        </div>
        <div class="grid grid-rows-2 grid-cols-2">
            <div class="flex row-start-1 items-center">
                <svg width="36px" height="36px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
                stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 15.9998C11.4477 15.9998 11 16.4475 11 16.9998C11 17.5521 11.4477 17.9998 12 
                17.9998C12.5523 17.9998 13 17.5521 13 16.9998C13 16.4475 12.5523 15.9998 12 15.9998ZM12 15.9998V12M12 16.9998L12.0071 17.0069M16 16.9998C16 19.209 14.2091 20.9998 12 
                20.9998C9.79086 20.9998 8 19.209 8 16.9998C8 15.9854 8.37764 15.0591 9 14.354L9 6C9 4.34315 10.3431 3 12 3C13.6569 3 15 4.34315 15 6V14.354C15.6224 15.0591 16 15.9854 
                16 16.9998Z" stroke="#ffffff" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <div class="flex flex-col items-center">
                    <p class="text-white text-[.6rem] sm:text-[.7rem] lg:text-sm font-thin text-nowrap">Feels like</p>
                    <p class="text-white font-bold text-[.6rem] sm:text-[.7rem] lg:text-sm">75&deg;</p>
                </div>
            </div>
            <div class="flex row-start-2 col-start-1 items-center">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
                stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7639 7C16.3132 6.38625 17.1115 6 18 6C19.6569 6 21 7.34315 21 9C21 10.6569 
                19.6569 12 18 12H3M8.50926 4.66667C8.87548 4.2575 9.40767 4 10 4C11.1046 4 12 4.89543 12 6C12 7.10457 11.1046 8 10 8H3M11.5093 19.3333C11.8755 19.7425 12.4077 20 13 20C14.1046 
                20 15 19.1046 15 18C15 16.8954 14.1046 16 13 16H3" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                 <div class="flex flex-col items-center">
                    <p class="text-white text-[.6rem] sm:text-[.7rem] lg:text-sm font-thin text-nowrap">Wind speed</p>
                    <p class="text-white font-bold text-[.6rem] sm:text-[.7rem] lg:text-sm">8 mph</p>
                </div>
            </div>
            <div class="flex row-start-1 col-start-2 items-center">
                <svg width="28px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
                stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21 14.7C21 18.1794 19.0438 21 15.5 21C11.9562 21 10 18.1794 10 14.7C10 11.2206 
                15.5 3 15.5 3C15.5 3 21 11.2206 21 14.7Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M8 8.2C8 9.7464 7.11083 11 
                5.5 11C3.88917 11 3 9.7464 3 8.2C3 6.6536 5.5 3 5.5 3C5.5 3 8 6.6536 8 8.2Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                 <div class="flex flex-col items-center">
                    <p class="text-white text-[.6rem] sm:text-[.7rem] lg:text-sm font-thin text-nowrap">Humidity</p>
                    <p class="text-white font-bold text-[.6rem] sm:text-[.7rem] lg:text-sm">65%</p>
                </div>
            </div>
            <div class="flex row-start-2 col-start-2 items-center">
                <svg width="24px" height="24px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#ffffff"><g id="SVGRepo_bgCarrier" 
                stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M448 768A320 320 0 1 0 
                448 128a320 320 0 0 0 0 640z m297.344-76.992l214.592 214.592-54.336 54.336-214.592-214.592a384 384 0 1 1 54.336-54.336z" fill="#ffffff"></path></g></svg>
                 <div class="flex flex-col items-center">
                    <p class="text-white text-[.6rem] sm:text-[.7rem] lg:text-sm font-thin text-nowrap">Visibility</p>
                    <p class="text-white font-bold text-[.6rem] sm:text-[.7rem] lg:text-sm">10 mi</p>
                </div>
            </div>
        </div>
    </div>


</div>
